<li class="span4 action" data-id="<%= id %>" data-city="<%= origin_name %>">
  <div class="thumbnail">
    <img alt="200x150" src="<%= cover.photo.url %>" style="width: 200px; height: 150px;">
      <div class="caption">
        <div class="row-fluid">
          <div class="span6 title"><%= name %></div>
          <div class="span6 price">
            <%= price %> руб
          </div>
          <div class="clearfix"></div>
          <p class="city"><%= short_description %></p>
        </div>
      </div>

  </div>
</li>